<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" 
   integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/pokeball.png">
    
    


    <title>Create</title>
</head>
<body>
    
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
   
    
    <section id="cadastro">
        <% if (pokemon == undefined) { %>
        
            <img class="ipoke" src="/img/POKEDEX.gif">
            <h2>Create your Pokemon!</h2>
    
        <form action="/create" method="POST">
                
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required> 
                
            <label for="desc">Description:</label>
            <input type="text" id="desc" name="desc"required>
                
            <label for="height">Height:</label>
            <input type="text" id="height" name="height"required>
                   
            <label for="weight">Weight:</label>
            <input type="text" id="weight" name="weight"required>
                 
            <label for="type">Type:</label>
            <input type="text" id="type" name="type"required>
                
            <label for="category">Category:</label>
            <input type="text" id="category" name="category"required>
                <div class="abilities">
            <label for="abilities">Abilities:</label>
            <input type="text" id="abilities" name="abilities"required>
                
            <label for="img">Image Link:</label>
            <input type="text" id="img" name="img"required>
                
            <label for="details">Evolutions: </label>
            <input type="text" id="details" name="details"required>
            
            <label for="imgD">Image: (Maximum evolution) </label>
            <input type="text" id="imgD" name="imgD"required>
            
            <label for="maxEvol">Name Maximum Evolution: (Ex:Charizard) </label>
            <input type="text" id="maxEvol" name="maxEvol"required>

            <button id="btnCadastrar" type="submit">Create </button>


            <% } %>
            
             
        </div>
     </div>

        </form>    
    

        <% if (pokemon != undefined) { %>
            
            <h2>Edit a Pokemon!</h2>
            <form action="/create" method="POST">
                
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= pokemon.name %>" required> 
                
            <label for="desc">Description:</label>
            <input type="text" id="desc" name="desc" value="<%= pokemon.desc %>" required>
                
            <label for="height">Height:</label>
            <input type="text" id="height" name="height" value="<%= pokemon.height %>" required>
                   
            <label for="weight">Weight:</label>
            <input type="text" id="weight" name="weight" value="<%= pokemon.weight %>" required>
                 
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" value="<%= pokemon.type %>" required>
                
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" value="<%= pokemon.category %>" required>
                <div class="abilities">
            <label for="abilities">Abilities:</label>
            <input type="text" id="abilities" name="abilities" value="<%= pokemon.abilities %>" required>
                
            <label for="img">Image Link:</label>
            <input type="text" id="img" name="img" value="<%= pokemon.img %>" required>
                
            <label for="details">Evolutions: </label>
            <input type="text" id="details" name="details" value="<%= pokemon.details %>" required>
            
            <label for="imgD">Image: (Maximum evolution) </label>
            <input type="text" id="imgD" name="imgD" value="<%= pokemon.imgD %>" required>
            
            <label for="maxEvol">Name Maximum Evolution: (Ex:Charizard) </label>
            <input type="text" id="maxEvol" name="maxEvol" value="<%= pokemon.maxEvol %>" required>

            <button id="btnCadastrar" type="submit">Edit </button>


        
            
             
        </div>
     </div>



        </form>    
        <% } %>

    </section>

    <footer>

        <%- include('./partials/footer.ejs') %>
        
        </footer>
        <script src="javascript.js"></script>
</body>
</html>