<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/pokeball.png">


</head>
<body>
        <header>
        <%- include('./partials/header.ejs') %>
    </header>
<main>

    <section id="cardDs">
        <div class="cardD">
    
    <img src="<%= pokemon.img %>" alt="">
    <h2><%= pokemon.name %></h2>
   
    <p>Evolutions: <%= pokemon.details %></p>
     
</div>





<script src="/script.js">
</script>

  


</main>

<footer>

    <%- include('./partials/footer.ejs') %>

</footer>

</body>
</html>