<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Poke</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/pokeball.png">
</head>
<body>
    
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
   
   
    
   <main class="mainCards">
    <section class="secCard">
    <section id="cards">
        
    <% pokedex.forEach((pokemon) => { %>
            
        
        <div class="card">
            <img src="<%= pokemon.img %>" alt="">
            <h2><%= pokemon.name %></h2>
            <p class="desc">
            <%= pokemon.desc %></p>
            <span class="moreText" id="t<%= pokemon.id%>">
            <p>Height: <%= pokemon.height %></p>
            <p>Weight: <%= pokemon.weight %></p>
            <p>Type: <%= pokemon.type %></p>
            <p>Category: <%= pokemon.category %></p>
            <p>Abilities: <%= pokemon.abilities %></p></span>
            <button  class='readmorebtn' id='b<%= pokemon.id%>' onclick='rmb(id)'>Show Info</button>
            <button class="detalhes" onclick="window.location.href='/details/<%= pokemon.id %>'">Details</button>
            <button class="update" onclick="window.location.href='/update/<%= pokemon.id %>' ">Edit</button>
        </div>
     <% }) %> 
    <script src="/script.js">


    </script>
    
        </section>
    </section>    

    


</main>
<footer>

    <%- include('./partials/footer.ejs') %>

</footer>



</body>
</html>