<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Details</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/pokeball.png">

</head>
<body>
    

    <body>
        <header>
        <%- include('./partials/header.ejs') %>
     </header>
<main class="mainAcards">
    <section class="secAcard">
        <section id="alldets">
    
        <% pokedex.forEach((pokemon) => { %>
                
            
            <div class="alldet">
                <img src="<%= pokemon.imgD %>" alt="">
                <h2><%= pokemon.maxEvol %></h2>
                <p>Evolutions: <br><% pokemon.details.split('||').forEach((det) =>{ %>
                 <span><%= det %> </span> <br>    
                <% }) %>
                </p>

            </div>
        <script src="/script.js">
        </script>
        
            <% }) %>    
        </section>    
    </section>




<script src="/script.js">
</script>

  
   

</main>

<footer>

    <%- include('./partials/footer.ejs') %>

</footer>



</body>
</html>